@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Nunito:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
li {
  list-style: none;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  display: flex;
  overflow-x: hidden;
  flex-flow: column nowrap;
}

button:hover,
a:hover {
  cursor: pointer;
}

body {
  color: #EEEEE5;
}

.loading {
  color: #4acd6f;
}

.error {
  color: #fe0c08;
}

#header__root {
  display: grid;
  height: 100vh;
  color: #EEEEE5;
  background: rgb(126, 34, 57);
  background: linear-gradient(315deg, rgb(126, 34, 57) 0%, rgb(33, 14, 108) 53%, rgb(0, 212, 255) 100%);
  grid-template-areas: "top " "middle " "bottom";
}
#header__root h1 {
  align-self: center;
  text-align: center;
  justify-self: center;
}
#header__root button {
  align-self: center;
  justify-self: center;
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px gray solid;
}

#ballIcon {
  position: absolute;
  z-index: 1;
  top: -200px;
  left: -200px;
  width: min(230vh, 900px);
  animation: rotateInfinite 35s linear infinite;
  opacity: 0.4;
  fill: #201f1f;
  filter: blur(10px);
}

#main__root {
  position: relative;
  display: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(126, 34, 57);
  background: linear-gradient(218deg, rgb(126, 34, 57) 0%, rgb(33, 14, 108) 63%, rgb(21, 101, 117) 100%);
  padding-block: 100px;
  gap: 30px;
}
#main__root:before {
  position: absolute;
  top: -20px;
  display: block;
  width: 100vw;
  height: 20px;
  content: "";
  background: #000;
  filter: blur(3px);
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
button,
p,
a,
li,
td {
  z-index: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
button {
  font-family: "Yeseva One", cursive;
}

p,
a,
li,
td {
  font-family: "Lora", serif;
}

h1 {
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

h2 {
  font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
}

h3 {
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}

h4 {
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
}

p,
a,
li,
td,
th,
button {
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}

@keyframes rotateInfinite {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.changeRoundBtn {
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px gray solid;
  background: #f36747;
}
.changeRoundBtn:hover {
  background: #75b7ba;
}
.changeRoundBtn:disabled {
  cursor: not-allowed;
  background: #444141;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.container__main--groups {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.container__main--finals {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "huitieme quart demi finale winner";
}
.container__main--finals .final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  grid-area: auto;
}

.isPlayed .winner {
  font-weight: bold;
}
.isPlayed .looser {
  opacity: 0.5;
}

table {
  margin: 15px 5px;
}

.th th {
  padding: 2px 5px;
  color: #75b7ba;
}
.tbody td {
  padding: 2px 5px;
  text-align: center;
}
.card__content {
  padding: 15px 30px;
  border-radius: 15px;
  border: 1px gray solid;
  width: 400px;
  transition: height 550ms ease-in-out;
  color: #7E2339;
  background: #EEEEE5;
}
.card__content header {
  display: flex;
  justify-content: space-between;
}
.card__content main {
  position: relative;
  overflow: hidden;
}

@keyframes slideIn {
  from {
    translate: 0 -200px;
  }
  to {
    translate: 0 0;
  }
}
@keyframes slideOut {
  from {
    translate: 0;
  }
  to {
    translate: 0 -200px;
  }
}

/*# sourceMappingURL=App.css.map */
