//region import
@use "reset";
@use "base" as base;
@use "color" as color;
//endregion

//region mixins
@mixin useFlex($direction: column) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin useBoxModel() {
	border-radius: 15px;
	border: 1px gray solid;
	padding: 15px 30px;
}

//endregion

//region base
body {
	background-color: color.$primary;
	color: color.$secondary;
}

h1 {
	font-size: 64px;
	color: color.$beige;
}

h2 {
	font-size: 30px;
	color: color.$teal;
}

p {
	font-size: 30px;
}

.loading {
	color: color.$valid;
	//todo loading spinner
}

.error {
	color: color.$error;
	// todo error spinner
}

#root {
	@include useFlex;
	width: 100%;
	height: 100%;
	gap: 30px;
	margin-block: 25px;
}

//endregion

//region buttons
.changeRoundBtn {
	margin-block: 50px 25px;
	@include useBoxModel;
	background: color.$salmon;

	&:hover {
		background: color.$teal;
	}

	&:disabled {
		cursor: not-allowed;
		background: color.$dimmed;
	}
}

//endregion

//region Containers
.container {
	@include useFlex(column);
	gap: 90px;
	margin-inline: 15px;

	&__main--groups {
		@include useFlex(row);
		gap: 50px;
		flex-wrap: wrap;
	}

	&__main--finals {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-areas: "huitieme quart demi finale winner";
		column-gap: 50px;

		.final {
			@include useFlex;
			gap: 50px;
			flex-wrap: wrap;
			grid-area: auto;
		}
	}
}

.isPlayed {
	.winner {
		color: color.$valid;
	}

	.looser {
		color: color.$dimmed;
	}
}

//endregion
