@use "loader";

*,
*:before,
*:after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
}

html {
   font-size: 62.5%;
   font-family: sans-serif;
   scroll-behavior: smooth;
   scrollbar-gutter: stable;
}

body {
   display: flex;
   flex-flow: column nowrap;
   //gap: 50px;
   margin-bottom: 6.5rem;
}
header {
   padding: 5vw;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   position: relative;
   background-color: #4a0606;

   .logo {
      width: 12rem;
      height: 12rem;
      border-radius: 100%;
      object-fit: cover;
      position: absolute;
      right: 5vw;
   }

   h1 {
      font-size: 7.2rem;
      letter-spacing: 2px;
      color: #ffffff;
      display: flex;
      flex-flow: row wrap;
      gap: 2.5rem;

      .fa-futbol {
         rotate: 360deg;
         animation: rotate 10s linear reverse infinite running;

         &:hover {
            animation-play-state: paused;
         }
      }
   }
}

h2 {
   font-size: 3.6rem;
   flex-basis: 100%;
   text-align: center;
}

h3 {
   font-size: 2.4rem;
}

.groups {
   display: flex;
   justify-content: space-around;
   flex-flow: row wrap;
   gap: 3rem;
   padding: 25px 20px;

   background-color: green;

   article {
      border: 1px gray solid;
      border-radius: 5px;
      padding: 1rem;
      background-color: #dee1d3;
      width: min(450px, 100%);

      h3 {
         color: #281313;
         margin-bottom: 1rem;
         text-align: center;
      }

      .group,
      th,
      tr,
      td {
         border: 1px solid gray;
         border-collapse: collapse;
      }

      .group {
         th {
            font-size: 2.4rem;
            padding: 5px 10px;
         }

         td {
            font-size: 1.8rem;
            padding: 2px 3px;
            text-align: center;
         }

         tr {
            td:nth-of-type(2) {
               font-size: 2.1rem;
            }
         }
         .winner {
            font-weight: bold;

         }
         .looser {
            font-weight: lighter;
            color: #6f6e6e;

         }
      }
   }
}

.control {
   position: fixed;
   bottom: 0;
   display: grid;
   width: min(75rem, 100vw);
   height: 6.5rem;
   background-color: rgba(0, 0, 0, 0.95);
   place-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


   button {
     width: 10rem;
     height: 3rem;
     border-radius: 5px;
     border: none;
     font-size: 2.4rem;
     &:hover{
     color: gold
     }
   }
}

@keyframes rotate {
   from {
      rotate: 0deg;
   }
   to {
      rotate: 360deg;
   }
}
