/*
header {
   padding: 5vw;
   display: flex;
   height: 40vh;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   position: relative;
   background-image:url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
   background-attachment: fixed;
   background-origin: padding-box;
   background-position-x: left;
   background-position-y: -500%;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: white;

   h1 {
      font-size: 7.2rem;
      letter-spacing: 2px;
      color: #ffffff;
      text-shadow: 2px 2px 10px #ec7600;
      display: flex;
      flex-flow: row wrap;
      gap: 2.5rem;

   }
}*/
